
/*****************banner以下的内容***********************/
#main .main-content{
    width: 100%;
    margin-top: 30px;
    height: auto;
}
.main-content .ins-and-login{
    width: 1135px;
    margin: 0 auto;
    height: auto;
}
.ins-and-login .ins{
    width: 750px;
    float: left;
}
.ins-and-login .login{
    width: 350px;
    float: right;
}
.form-input{
    margin-bottom: 20px;
}
.form-input input{
    height: 45px;
}
.main-content .last-news{
    width: 1135px;
    margin: 0 auto;
}
.main-content .other-info{
    margin-top: 40px;
}




